.box, .card {
       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#selection, .selected {
  outline: 2px solid #2f7b8a;
}

#app {
          user-select: none;
     -moz-user-select: -moz-none;
   -khtml-user-select: none;
  -webkit-user-select: none;
       -o-user-select: none;
}
