body {
  background: rgb(17, 15, 12);
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
}

#ui {
  position: relative;
  left: 12px;
}

.button > a {
  color: rgb(234, 241, 251);
  font-weight: bold;
}

.button {
  margin-right: 0.5em;
}

#new-pool-button {
  margin-left: 35em;
}

#app {
  position: relative;
  left: -8px;
  top: 16px;
  z-index: 10;
}

#selection, .selected {
  outline: 3px solid #39C527;
}

.ghost {
  outline: 4px dashed #c21700;
}

#hud {
  background: rgba(255,255,255, 0.6);
}

/* Weird Settings */

/* turn off element selection/highliting */
body, div, img {
          user-select: none;
     -moz-user-select: -moz-none;
   -khtml-user-select: none;
  -webkit-user-select: none;
       -o-user-select: none;
}

/* turn off image dragging */
img {
  pointer-events: none;
}
